html, body{
    
    background-image: linear-gradient(to right bottom, rgba(0,0,20,0.5), rgba(0,20,0,1));
    max-width:100%;                   
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
    }

.bgdashteach{
    /* background: linear-gradient(90deg, #CBCBCF 80%, #000014 20%);       */
    background: linear-gradient( to right,#cbcbcf, #cbcbcf 80%, #000014 80%, #000014 97%, #cbcbcf 97%, #cbcbcf);
}


.full-height {
    height: 100%;
    }

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    }

.position-ref {
    position: relative;
    }

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
    }

.content {
    text-align: center;
    }

.title {
    font-size: 84px;
    }

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
            
.m-b-md {
    margin-bottom: 30px;
    color: #cbcbcf;
    text-shadow: 1px 1px 3px black;
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:10%;
    background-color: #ffae00;
    color: #000;
    text-align: center;
    padding: 25px 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.owp{
    top: 46%;
    z-index: 1;
    position:absolute;
    font-size: 2.5vw;
    text-align:right;
    transform: rotate(270deg) translateY(74.6vw) scaleY(1.7);
    letter-spacing: 0.26em;
    color: #cbcbff;
    text-transform: uppercase;
    font-weight: 700;
}
.pic{
    transform:translateX(-100px);
    position:absolute;
    top:12%;
    width:60%;
    height: auto;
    margin-bottom:0vw;
    margin-left: 15vw;
    margin-right: auto;
    animation: shake 6s;
    animation-iteration-count: infinite;
    transition: inherit;
    }
      
    @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, 0px) rotate(-1deg); }
    20% { transform: translate(-2px, -1px) rotate(0deg); }
    30% { transform: translate(-1px, -1px) rotate(1deg); }
    40% { transform: translate(0px, -2px) rotate(0deg); }
    50% { transform: translate(-1px, -1px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(-1px, 0px) rotate(-1deg); }
    80% { transform: translate(-2px, -1px) rotate(0deg); }
    90% { transform: translate(-1px, 0px) rotate(1deg); }
    100% { transform: translate(1px, 1px) rotate(0deg); }
    }

.pichome{
    position:absolute;
    top:3%;
    width:55%;
    height: auto;
    margin-left: 40vw;
    transform: rotate(283deg) translateY(19%) scaleX(0.45) scaleY(0.45) ;
    }

.navbar{
    background-color: rgb(0 ,0 ,20);
    z-index: 1;
    width:100%;
    height:10%;
    }
.bg-custom{
    background-color: #ffae00;
}
         
.quote{
    position:absolute;
    margin-top:20%;
    height:100%;
    color:#ffc107;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 200;
    font-size:4vw;
    }
          
.call-to-action {
    position: relative;
    background-color: #343a40;
    margin-top:0%;
    background-size: 50vw;
    padding-top: 7rem;
    padding-bottom: 7rem;
    height: 100%;
    width: 100%;
    }

.card-header{
    background-color: #ffae00;
    color: rgb(0 ,0 , 20);
    }

.card-body{
    background-color: #ffe6b2;
    color: rgb(0 ,0 , 20);
    }   
    
.btn{
    background-color: #ffae00;
    color: rgb(0 ,0 , 20);
    }


        